<div class="singleContainer">
  <h1>{{model.headline}}</h1>
  <p><img src="{{model.image}}"></p>
  <p>{{model.author}}</p>
  <p>{{model.article}}</p>


  {{#link-to 'index'}} Home {{/link-to}}
</div>
