
.entryContainer{
  display: flex;
  flex-direction: row;
  .entry {
    border: 1px solid pink;
    margin: 1%;
    padding: 1%;
    width: 500px;
    h3 {
      text-align: center;
      text-decoration: underline;
    }
  }
}
.singleContainer {
  @include outer-container;
}

#myCarousel img {
    height: 300px;
    width: 100%;
}
