<h2>More information about {{model.author}}'s article of {{model.headline}}</h2>
{{single-detail model=model}}

<!-- with model=model, model can be interchanged with the term entry, which is our model. Dont know why? -->
